@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
    outline: none;
    border:none;
    text-decoration: none;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:white;
}
nav{
    position:absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(111, 92, 156);
    width:6%;
    overflow:hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,alpha);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
     width: 60px;
     height: 45px;
     border-radius: 50%;
     margin-left: 1px;
     top: 1px;
}

.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    top: 6px;
    
}

a{
    position: relative;
    color:rgb(83,85,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top:12px;
    margin-left: 10px;
    color: rgb(148, 224, 60);
}
a:hover{
    background-color: burlywood;
    
}
nav:hover{
    width:280px;
    transition: all 0.5s ease;
}
.logout{
    position:absolute;
    bottom:0;

}

div{
    margin:100px;
    
}
