* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2eee3;
}
.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#FC94AF,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
.sidebar{
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 20px;
  background: #fff;
  padding:6px 14px;
  transition: all 0.5 ease;
  z-index: 1;
}
.sidebar{
  width: 61px;
  
}
.sidebar.active{
  width: 160px;
  
}
.sidebar .logo_content .logo{
  color: #765341;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}
.logo_content .logo i{
 
  font-size: 28px;
  margin-right:5px;
  outline: none;
}

.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 200;
}

.sidebar #btn{
  position: absolute;
  color: #765341;
  left: 50%;
  top:6px;
  font-size:20px;
  height:320px;
  width: 100px;
  text-align:center;
  line-height:30px;
  transform:translateX(-50%);
}
.sidebar.sidebar.active #btn{
  left:90%;
}
.logo_name{
  margin-left: 25px;
}

.sidebar ul{
  margin-top:20px;
}
 
.sidebar ul li {
  position: relative;
  height: 110px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 100px;
  border-radius: 12px;
  font-size: smaller;
}
.sidebar ul li .tooltip{
  position:absolute;
  left: 152px;
  top:70%;
  transform: translateY(-50%);
  border-radius:6px;
  height: 35px;
  width: 155px;
  background: #fff;
  line-height: 40px;
  text-align: left;
 box-shadow: 0 5px 10px rgba(167, 32, 32, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 10px;
 transition: 0s;  
   opacity: 0; 
  pointer-events: none;
}
.sidebar ul li:hover .tooltip {
  transition:all 0.5s ease;
  opacity: 1; 
  top:50%;
}
.tooltop{
  position:absolute;
  left: 71px;
  top:60%;
  transform: translateY(-50%);
  border-radius:6px;
  height: 35px;
  width: 120px;
  /* background: #fff; */
  line-height: 35px;
  text-align: center;
 box-shadow: 0 5px 10px rgba(167, 32, 32, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 10px;
 transition: 0s;  
   opacity: 0; 
  pointer-events: none;
  display: block;
  margin-top: 127px;
}
.sidebar ul li:hover .tooltop{
  transition:all 0.5s ease;
  opacity: 1; 
  top:50%;
}
.sidebar.sidebar.active ul li .tooltip{
  display:none;
}


.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  top:0;
  border-radius: 12px;
  outline: none;
  border:none;
  background: #fff;
  padding-left: 50px;
  font-size: 18px;
  color: #765341;
}



.sidebar ul li a{
  color: #765341;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

i{
  font-size: 3.1em;
}

.sidebar ul li a:hover{
  color: #fff;
  background: #765341;
  border-radius: 12px;
  
}
.sidebar ul li a i{
  height:50px;
  min-width: 20px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  align-items: center;
}
.sidebar .links_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .links_name{
  opacity: 1;
  pointer-events: auto;
}

#logout{
  color: #765341;

}
#logout:hover{
  color: #fff;
  background-color: #765341;
  border-radius: 12px;
  line-height: 120px;

}
.logout1{
  line-height: 110px;
  align-items: center;
  text-align: center;
  top:50%
  
}
.home_content{
  margin-left:80px;
  position: absolute;
  height: 100%;
  width: calc(100%-300px);
  left:300px;
}