body {
    margin: 0;
    font-family: 'Bentham', serif;
    font-size: 18px;
    background-color: #f2eee3;
}

.selection {
    background-color: #ebe6f7;
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 60%;
    margin: 03rem auto 0 auto;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-decoration: none;
    border: 1px solid black;
}

.selection img {
    width: 50%;
    margin: 30px;
    text-decoration: none;
}

.selection h3 {
    color: black;
    margin-left: 05%;
    text-decoration: none;

}

.selection h2 {
    color: black;
    margin-left: 05%;
    text-decoration: none;
}

.selection p {
    color: black;
    margin-left: 10%;
    text-decoration: none;
}



a.button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #79b0a1;
    text-align: center;
    position: relative;
    border-radius: 25px;
    outline: none;
    margin-top: 25px;
}

a.button:hover {
    border-color: #7a7a7a;
    text-decoration: none;
}

a.button:active {
    background-color: #999999;
    text-decoration: none;
}

@media all and (max-width:30em) {
    a.button {
        display: block;
        margin: 0.2em auto;
        text-decoration: none;
    }
}

.close {
    font-size: 45px;
    font-weight: 600;
    text-decoration: none;
    color: #79b0a1;
}

.header{
    position: fixed;
    top: 0%;left:0;right:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    padding: 0.8% 3%;
}

#main{
    margin-top: 130px;
}